/* .loader {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Центруємо лоадер по вертикалі */
}
