.button {
  display: flex;
  background-color: blue;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 200px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  margin: 24px auto;
  box-shadow: 10px 10px 5px grey;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
  background-color: darkblue;
  transform: scale(1.05);
}
