/* .button {
  display: flex;
  background-color: blue;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 200px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  margin: 24px auto;
}

.button:hover {
  background-color: darkblue;
} */
.button {
  display: flex;
  background-color: blue;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 200px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  margin: 24px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Додавання тіні */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Анімація */
}

.button:hover {
  background-color: darkblue;
  transform: scale(1.05); /* Зміна розміру при наведенні */
}

.button:focus {
  outline: none; /* Скидання стандартного обведення */
  box-shadow: 0 0 0 3px rgba(0, 0, 255, 0.5); /* Стільки тіні при фокусі */
}
